body
{
  
  background-color:#FFF;  
  font-family:arial;
}
#hint
{
  color:#333;  
}
#debug
{
  position:fixed;
  top:600px;  

}


.axis
{
  background-color:white;
  height:1px;
  width:1px;
  position:fixed;
}

.axisValue
{
  color:white;
  position:fixed;
  background-color:red;
}

.spanChartLabel
{
  color:white;    
}
.spanChartYAxisValue
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;

}
.spanChartXAxisValue
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartYAxisTitle
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartXAxisTitle
{
  font: bold 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartLabel
{
  font: 12px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}
.spanChartTitle
{
  font: bold 14px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif;
}

.u-section-1-1 .u-sheet-1 {
    min-height: 50px;
  }.u-block-60d1-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-block-60d1-3 {
    position: absolute;
    left: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }
  
  .u-block-60d1-4 {
    position: absolute;
    right: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, 1fr);
  grid-gap : 50px;
  grid-auto-rows: minmax(500px,auto);
}  

.one {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.chart {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.two {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}

.three {
  grid-column: 1;
  grid-row: 3;
  justify-self: center;
  align-self: center;
}

.four {
  grid-column: 1;
  grid-row: 4;
  justify-self: center;
  align-self: center;
}