.u-section-1-1 .u-video-1 {
    min-height: 500px;
  }.u-block-9c24-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-block-9c24-3 {
    position: absolute;
    left: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }
  
  .u-block-9c24-4 {
    position: absolute;
    right: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }