/* Set the size of the div element that contains the map */
#BoatMap {
  height: 400px;
  /* The height is 400 pixels */
  width: 700px; 
  /* The width is the width of the web page */
}

.u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }.u-block-5e5a-2 {
    position: absolute;
    bottom: 10px;
    width: auto;
    height: auto;
  }
  
  .u-block-5e5a-3 {
    position: absolute;
    left: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }
  
  .u-block-5e5a-4 {
    position: absolute;
    right: 0;
    width: 85px;
    height: 85px;
    background-image: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }