.u-section-1 {
    background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bg.png");
    background-position: 50% 50%;
    min-height: 50vw;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 3.25rem;
    margin: 19px calc(((100% - 1140px) / 2) + 398px) 0 0;
  }
  
  .u-section-1 .u-form-1 {
    height: 281px;
    width: 300px;
    margin: 171px calc(((100% - 1140px) / 2) + 920px) 0 0;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none none solid;
    margin: 0 auto 60px 0;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-text-1 {
      width: 822px;
      margin-right: calc(((100% - 1140px) / 2) + 4px);
      margin-left: calc(((100% - 1140px) / 2) + 314px);
    }
  
    .u-section-1 .u-form-1 {
      margin-left: calc(((100% - 1140px) / 2) + 20px);
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: calc(((100% - 940px) / 2));
    }
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-text-1 {
      width: 720px;
      margin-right: calc(((100% - 1140px) / 2) + -4px);
      margin-left: calc(((100% - 1140px) / 2) + 424px);
    }
  
    .u-section-1 .u-form-1 {
      margin-left: calc(((100% - 1140px) / 2) + 130px);
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: calc(((100% - 720px) / 2));
    }
  }
  
  @media (max-width: 767px) {
    .u-section-1 .u-text-1 {
      width: 540px;
      margin-right: calc(((100% - 1140px) / 2) + 139px);
      margin-left: calc(((100% - 1140px) / 2) + 461px);
    }
  
    .u-section-1 .u-form-1 {
      margin-left: calc(((100% - 1140px) / 2) + 220px);
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: calc(((100% - 540px) / 2));
    }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-text-1 {
      width: 340px;
      margin-right: calc(((100% - 1140px) / 2) + 299px);
      margin-left: calc(((100% - 1140px) / 2) + 501px);
      font-size: 3rem;
    }
  
    .u-section-1 .u-form-1 {
      margin-right: calc(((100% - 1140px) / 2) + 820px);
      margin-left: calc(((100% - 1140px) / 2) + 320px);
    }
  
    .u-section-1 .u-btn-2 {
      margin-left: calc(((100% - 340px) / 2));
    }
  }