<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>WYKRES</title>
    <link rel="stylesheet" href="{{url_for('static', filename='nicepage.css')}}" media="screen"> 
    
<link rel="stylesheet" href="{{url_for('static', filename='INFLUX.css')}}" media="screen">
    <script class="u-script" type="text/javascript" src="/static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/nicepage.js" defer=""></script>  
    <script class="u-script" type="text/javascript" src="/static/influx.js" defer=""></script>   
    

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site2",
		"logo": "static/images/SB_AGH_Kolor_bialy_napis.png"

}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="INFLUX">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>

  <body class="u-body">
    <header class="u-align-right u-clearfix u-header u-white u-header" id="sec-cdd7"><a class="u-image u-logo u-image-1" data-image-width="2433" data-image-height="2433">
        <img src="static/images/solarboat.png" class="u-logo-image u-logo-image-1" data-image-width="85">
      </a><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('stream') }}" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('trasa') }}" style="padding: 18px 60px;">TRASA CELKI</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('index') }}" style="padding: 18px 60px;">INFLUX</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('logout') }}" style="padding: 18px 60px;">WYLOGUJ</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/stream" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/test" style="padding: 18px 60px;">TRASA CELKI/test</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/" style="padding: 18px 60px;">WYKRESY</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="logout" style="padding: 18px 60px;">WYLOGUJ</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
 <!-- WYKRES -->
            <div class="wrapper">
              <div class="one">
                
                <div id="chartContainer" style="height: 400px; width: 800px;">
              </div>
              <div class="two">
                <canvas id="myChart2" style="height: 400px; width: 800px;"></canvas>
              </div>
              <div class="three">
                <canvas id="myChart3" style="height: 400px; width: 800px;"></canvas>
              </div>
              <div class="four">
                <canvas id="myChart4" style="height: 400px; width: 800px;"></canvas>
              </div>
            </div>     

<!--WYKRES 1-->
            <script>
              window.onload = function () {

              var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                zoomEnabled: true,
                title:{
                  text: "Velocity" 
                },
                data: data  // random generator below
              });
              chart.render();

              }

              var limit = 1000;

              var y = 0;
              var data = [];
              var dataSeries = { type: "line" };
              var dataPoints = [];
              for (var i = 0; i < limit; i += 1) {
                y += (Math.random() * 10 - 5);
                dataPoints.push({
                  x: i - limit / 2,
                  y: y                
                });
              }
              dataSeries.dataPoints = dataPoints;
              data.push(dataSeries);               

            </script>
            <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
          
        <!--WYKRES 4-->
        <script>
          var xValues = [0,1,2,3,4,5,6,7,8,9,10];
          var yValues = [15,111,734,289,12,654,55,999,327,29,84];

          new Chart("myChart4", {
            type: "line",
            data: {
              labels: xValues,
              datasets: [{
                backgroundColor: "rgba(0,0,0,0)",
                borderColor: "rgba(0,0,0,1)",
                data: yValues
              }]
            },
            options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:1000}}],
    },
    title: {
      display: true,
      fontSize: 24,
              text: "Battery"
            },
  }
});
        </script>


            <!--WYKRES 2-->
            <script>
              var xValues = [0,1,2,3,4,5,6,7,8,9,10];
              var yValues = [7,8,8,9,9,9,10,11,14,14,15];

              new Chart("myChart2", {
                type: "line",
                data: {
                  labels: xValues,
                  datasets: [{
                    backgroundColor: "rgba(0,0,0,0)",
                    borderColor: "rgba(0,0,0,1)",
                    data: yValues
                  }]
                },
                options: {
            legend: {display: false},
            scales: {
            yAxes: [{ticks: {min: 6, max:16}}],
            },
            title: {
      display: true,
      fontSize: 24,
              text: "Imu"
            },
            }
            });
            </script>


              <!--WYKRES 3-->
              <script>
                var xValues = [0,1,2,3,4,5,6,7,8,9,10];
                var yValues = [4,2,6,77,4,2,9,12,32,12,51];

                new Chart("myChart3", {
                  type: "line",
                  data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: "rgba(0,0,0,0)",
                      borderColor: "rgba(0,0,0,1)",
                      data: yValues
                    }]
                  },
                  options: {
              legend: {display: false},
              scales: {
              yAxes: [{ticks: {min: 0, max:80}}],
              },
              title: {
      display: true,
      fontSize: 24,
              text: "Temperature"
            },
              }
              });
              </script>
          
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer " id="sec-6c5d"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Kontakt :<br>gryner.solarboat@gmail.com<br>Projekt i wykonanie : Kamila Gryner i Dawid Banaszczyk<br>AGH Solar Boat Team
        </p>
      </div></footer>
  </body>
</html>