<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="AGH&nbsp;SOLAR&nbsp;BOAT">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>AGH Solar Boat Telemetria</title>
    <link rel="stylesheet" href="{{url_for('static', filename='nicepage.css')}}" media="screen">
<link rel="stylesheet" href="{{url_for('static', filename='WYLOGUJ.css')}}" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "Site2",
		"logo": "images/SB_AGH_Kolor_biay_napis.png"
}</script>
    <meta name="theme-color" content="#478ac9">F
    <meta property="og:title" content="AGH Solar Boat Telemetria">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>

  <body data-home-page="WYLOGUJ.html" data-home-page-title="WYLOGUJ" class="u-body"><header class="u-align-right u-clearfix u-header u-white u-header" id="sec-cdd7"><a class="u-image u-logo u-image-1" data-image-width="2433" data-image-height="2433">
        <img src="images/SB_AGH_Kolor_biay_napis.png" class="u-logo-image u-logo-image-1" data-image-width="85">
      </a><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="STREAM.html" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="TRASA-CELKI.html" style="padding: 18px 60px;">TRASA CELKI</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="INFLUX.html" style="padding: 18px 60px;">INFLUX</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="WYLOGUJ.html" style="padding: 18px 60px;">WYLOGUJ</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="STREAM.html" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="TRASA-CELKI.html" style="padding: 18px 60px;">TRASA CELKI</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="INFLUX.html" style="padding: 18px 60px;">INFLUX</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="WYLOGUJ.html" style="padding: 18px 60px;">WYLOGUJ</a>
  <!-- .................................................................................................-->
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
    <section class="u-align-left u-clearfix u-image u-shading u-section-1" src="" data-image-width="2048" data-image-height="1365" id="sec-abe4">
      <h1 class="u-align-left u-custom-font u-font-open-sans u-text u-title u-text-1">AGH SOLAR BOAT TEAM</h1>
      <div class="u-form u-login-control u-form-1">
        <form action="#" method="POST" class="u-clearfix u-form-custom-backend u-form-spacing-10 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="username-a30d" class="u-label u-text-body-alt-color">Nazwa użytkownika</label>
            <input type="text" placeholder="np. fajnysolarek" id="username-a30d" name="username" class="u-border-1 u-border-white u-input u-input-rectangle u-text-palette-4-light-3" required="">
          </div>
          <div class="u-form-group u-form-password">
            <label for="password-a30d" class="u-label u-text-body-alt-color">Hasło</label>
            <input type="text" placeholder="..." id="password-a30d" name="password" class="u-border-1 u-border-white u-input u-input-rectangle u-text-palette-4-light-3" required="">
          </div>
          <div class="u-form-checkbox u-form-group">
            <input type="checkbox" id="checkbox-a30d" name="remember" value="On">
            <label for="checkbox-a30d" class="u-label u-text-body-alt-color">Zapamiętaj mnie</label>
          </div>
          <div class="u-align-left u-form-group u-form-submit">
            <a href="#" class="u-btn u-btn-submit u-button-style">Zaloguj</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
        </form>
      </div>
      <a href="#" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-login-control u-login-create-account u-none u-text-palette-4-light-2 u-btn-2">Problem z zalogowaniem ?</a>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6c5d"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Kontakt :<br>gryner.solarboat@gmail.com<br>Projekt i wykonanie : Kamila Gryner i Dawid Banaszczyk<br>AGH Solar Boat Team
        </p>
      </div></footer>
  </body>
</html>