<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>CELKA</title>
    <link rel="stylesheet" href="{{url_for('static', filename='nicepage.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='TRASA-CELKI.css')}}" media="screen">
    <script class="u-script" type="text/javascript" src="static/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="static/nicepage.js" defer=""></script>   
    <script class="u-script" type="text/javascript" src="static/trasa.js" defer=""></script> 
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>

    <!--  POPRAW    -->
    <script type="application/ld+json">{
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "Site2",
      "logo": "static/images/SB_AGH_Kolor_bialy_napis.png"}
     </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="CELKA">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>

  <body class="u-body">
    
    <header class="u-align-right u-clearfix u-header u-white u-header" id="sec-cdd7"><a class="u-image u-logo u-image-1" data-image-width="2433" data-image-height="2433">
        <img src="static/images/solarboat.png" class="u-logo-image u-logo-image-1" data-image-width="85">
      </a><nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
          <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use></svg>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><symbol id="menu-hamburger" viewBox="0 0 16 16" style="width: 16px; height: 16px;"><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</symbol>
</defs></svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-spacing-2 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('stream') }}" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('trasa') }}" style="padding: 18px 60px;">TRASA CELKI</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('index') }}" style="padding: 18px 60px;">WYKRES</a>
</li><li class="u-nav-item"><a class="u-active-grey-5 u-border-active-palette-1-base u-border-hover-palette-1-base u-button-style u-hover-grey-10 u-nav-link u-text-active-grey-90 u-text-grey-90 u-text-hover-grey-90" href="{{ url_for('logout') }}" style="padding: 18px 60px;">WYLOGUJ</a>
</li></ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="STREAM.html" style="padding: 18px 60px;">STREAM</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="TRASA-CELKI.html" style="padding: 18px 60px;">TRASA CELKI</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="INFLUX.html" style="padding: 18px 60px;">WYKRES</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="WYLOGUJ.html" style="padding: 18px 60px;">WYLOGUJ</a>
</li></ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav></header>
      <center>
        <h3>DEMO ISS</h3>
        <h4>latitude: <span id="lat"></span></h4>
        <h4>longitude: <span id="lon"></span></h4>
        <!--The div element for the map -->
        <div id="BoatMap"></div>

      </center>
        
      <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script>
          //Making a map and tiles
          const mymap = L.map('BoatMap').setView([0,0], 1);

          const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors';
          const tileUrl= 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
          const tiles = L.tileLayer(tileUrl, {attribution } );
          tiles.addTo(mymap);

          //Making marker with a custom icon
          const boatIcon = L.icon({
            iconUrl: 'static/images/lodka.png',
            iconSize:[40, 24],
            iconAnchor: [20, 12]
          });

          const marker = L.marker([0, 0], { icon: boatIcon }).addTo(mymap)

         

          const api_url = 'https://api.wheretheiss.at/v1/satellites/25544';

          let firstTime = true;

          async function getISS() {
            const response = await fetch(api_url);
            const data = await response.json();
            const {  latitude, longitude } = data;

            mymap.setView([latitude, longitude], mymap.getZoom());
            marker.setLatLng([latitude, longitude]);
            if(firstTime){
              mymap.setView([latitude, longitude], 5);
              firstTime = false;
            }
            document.getElementById('lat').textContent = latitude;
            document.getElementById('lon').textContent = longitude;
          }
          
          getISS();
          
          setInterval(getISS, 1000);

        </script>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer footer" id="sec-6c5d"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Kontakt :<br>gryner.solarboat@gmail.com<br>Projekt i wykonanie : Kamila Gryner i Dawid Banaszczyk<br>AGH Solar Boat Team
        </p>
      </div></footer>
  </body>
</html>